#header
  %h1
    =APP_CONFIG['hotelname']
  %ul
    %li{:class => "home #{@home?'current':''}"}
      %a{:href => "/"}
        %span="Home"
    %li{:class => "checkin #{current_page?(:controller => :checkins, :action => 'new')?'current':''}"}
      %a{:href => "/checkins/new"}
        %span="New Checkin"
    %li.admin
      %a{:href => "/admin"}
        %span="Admin"
#spacer
.clear

