#header
  %h1
    =APP_CONFIG['hotel_name']
  %ul
    %li{:class => "home #{@home?'current':''}"}
      %a{:href => "/"}
        %span="Home"
    %li{:class => "checkin #{current_page?(new_checkin_url)?'current':''}"}
      =link_to new_checkin_url do
        %span="New Checkin"
    %li.admin
      %a{:href => "/admin"}
        %span="Admin"
#spacer
.clear


