.block-border
  .block-content{:style => "overflow:auto;padding-top:5px;background:#aaa;"}
    .block-controls
      =will_paginate @rooms 
    #panel-frame
      .panel
        .head
          %a{:href=> "#",:class => "close"} close
        .data
    .left.no-margin
      #tablediv
        =render :partial => "shared/roomtable"

    .right{:style => "width:440px;min-height:500px;"}
      %h3 Welcome to Hotel Management on Rails
      %p This is an attempt to create a desktop app which is easy and intutive for small hotel/property management. Work is in progress, you might find bugs, glitches etc.

      %hr
      %p Note - Not suitable for IE, Firefox < 2.0, since it will be desktop deployed application, enjoying the bliss of no cross browser development as of now! IE compatibilty in pipeline..
      %hr
      %h3 More Features Coming Soon..
      %ul
        %li
          Login / Role Based functions
        %li
          Reservations Module
        %li
          Restaurant Module
        %li
          Reporting Module
        %li
          Online Offline Website Reservation Sync
        %li
          Mini CRM
        %li
          Housekeeping Module
        %li
          Credit Card Scanner Interface
        %li
          and any future requirement..
      


#service_dialog{ :title => "Add Service",:style => "display:none"}
  =form_for :service_item, :url => "/home/add_service",:remote => true, :html => {:id => "service_form"} do |f|
    .field
      =f.label "Select"
      =f.select :service_id, options_from_collection_for_select(Service.all,:id,:name)
    .field
      =f.label :amount
      =f.text_field :amount
    .field
      =f.label :billnumber
      =f.text_field :billnumber
    .field
      =f.label :Description
      =f.text_area :description
      =f.hidden_field :room_id
      =f.hidden_field :checkin_id
#payment_dialog{:title => "Add Payments", :style => "display:none"}
  =form_for :payment, :url => "/home/add_payment", :remote => true, :html => {:id => "payment_form"} do |f|
    .field
      =f.label :amount  
      =f.text_field :amount
    .field
      =f.label :Description
      =f.text_area :description
      =f.hidden_field :checkin_id

#checkout_dialog{:title => "Checkout", :style => "display:none;"}
  #pending_amount_div
  #checkout_form_div

:javascript
  $('#service_form').bind("ajax:loading",  function(){
    $('.add_service').after('<div id="loading"><img style = "float:right;margin:3px;" src="/images/smallloading.gif"/></div>')
  });
  $('#payment_form').bind("ajax:loading",  function(){
    $('.add_payment').after('<div id="loading"><img style = "float:right;margin:3px;" src="/images/smallloading.gif"/></div>')
  });


  $(document).ready(function() {
    /*$('.checkedin').hover(
      function(){
        $(this).find('.checkindetails').show();
      }
      ,
      function(){
        $(this).find('.checkindetails').hide();
       }
    );*/
  $('.checkedin').click(function()
  {
  var id= $(this).attr('id');
  myarr = id.split('-');
  $('#service_item_room_id').val(myarr[1]);
  var data_id= $(".data").attr('id');
  if(data_id == ''){
    $('.data').attr('id','data' + id);
  }
  var panel= $('.panel');
  var panel_width=$('.panel').css('left');
  if(data_id == 'data' + id)
  {
    panel.animate({left: parseInt(panel.css('left'),0) == 0 ? +panel.outerWidth() : 0});
  }
  else
  {
    $('.data').attr('id','data' + id);
    if(panel_width =='465px')
    {

    }
    else
    {
      panel.animate({left: parseInt(panel.css('left'),0) == 0 ? +panel.outerWidth() : 0});
    }
      $.ajax({
      beforeSend: function(){$('.data').html('<div style="margin:100px";><img src="/images/smallloading.gif"/>&nbsp;<b>Loading..</b></div>');},
      url: '/home/getcheckin/' + id
      }
      );
  }
  return false;
  });

  $('.close').click(function() 
  {

  var panel= $('.panel');
  panel.animate({left: parseInt(panel.css('left'),0) == 0 ? +panel.outerWidth() : 0});
  return false;
  });
  });
     
  
  $('#checkout_dialog').dialog({
    autoOpen: false,
    width: 400,
    buttons: {
      "Save": function() { 
        $(this).dialog("close"); 
        $('#checkout_dialog form').submit();
      }, 
      "Cancel": function() { 
        $(this).dialog("close"); 
      } 
    }
  });
  $('#service_dialog').dialog({
    autoOpen: false,
    width: 400,
    buttons: {
      "Save": function() { 
        $(this).dialog("close"); 
        $('#service_form').submit();
      }, 
      "Cancel": function() { 
        $(this).dialog("close"); 
      } 
    }
  });
  $('#payment_dialog').dialog({
    autoOpen: false,
    width: 400,
    buttons: {
      "Save": function() { 
        $(this).dialog("close"); 
        $('#payment_form').submit();
      }, 
      "Cancel": function() { 
        $(this).dialog("close"); 
      } 
    }
  });

