%b="Todays Checkins"
-amount = 0
- @checkins.each do |checkin|
  - amount += checkin.revenue_for_day(Date.today)
  %table{:border => 1}
    %tr
      %th Room
      %th Fromdate
      %th Todate
      %th Amount Per Day
    - checkin.line_items.each do |li|
      %tr
        %td= li.room.number
        %td= li.fromdate.strftime("%Y/%m/%d")
        %td= li.todate.strftime("%Y/%m/%d")
        %td= li.amount_per_day

%h3
  Total Amount :
  =amount

