$('.data').html("<%= escape_javascript(render :partial => 'shared/checkout_table')%>");
$('#service_item_checkin_id').val('<%= @checkin.id %>');
$('#payment_checkin_id').val('<%= @checkin.id %>');
$('.add_service').click(function(){
$('#service_dialog').dialog('open');
return false;
});
$('.add_payment').click(function(){
$('#payment_dialog').dialog('open');
return false;
});

$('#checkout_form_div').html("<%= escape_javascript(render :partial => '/checkins/edit_checkin_form')%>")
<% if @checkin.pending_balance > 0 %>
  $('#pending_amount_div').html('<span style="color:red;">Amount is pending, Please add payments before proceeding!</span><br>');
  <% @checkin.status = "Pending Amount :" + @checkin.pending_balance.to_s %>
  $('#pending_reason_div').show();
<%else %>
  $('#pending_amount_div').html('');
<%end%>
$('#totaldiv button').click(function(){
    $('#checkout_dialog').dialog('open');
    return false;
 });
$('#bill_to').change(function(){
    myarr = $(this).find('option:selected').val().split('-');
    $('#checkin_bill_to_owner_id').val(myarr[1]);
    $('#checkin_bill_to_owner_type').val(myarr[0]);
    });
$('.splitlink').click(function(){
    $('#splitroom_line_item_id').val($(this).attr('id'));
    $('#split_room_number').html($(this).text());
    $('#splitroom_dialog').dialog('open');
    return false;
    });

$('.delete_service').click(function(){
    $('#delete_service_item_id').val($(this).parent().parent().attr('id').split('-')[1]);
    $('#delete_room_service_dialog').dialog('open');
    return false;
    });
$('.delete_payment').click(function(){
    $('#delete_payment_id').val($(this).parent().parent().attr('id').split('-')[1]);
    $('#delete_payment_dialog').dialog('open');
    return false;
    });

$('.li-details').cluetip({
    sticky: true,
    mouseOutClose: true,
    arrows: true,
    closePosition: 'title',
    closeText: '<span class ="ui-icon ui-icon-close"/>'});



